body {
    font-family: sans-serif;
  }
  .flex {
    display: flex;
  }
  #top_menu {
    background: black;
    color: white;
    padding: 5px 10px;
  }
  #top_menu ul li {
    list-style-type: none;
    margin-right: 20px;
  }
  
  nav ul li {
    list-style-type: none;
    margin-right: 10px;
  }
  
  .main_content {
  }
  section {
    width: 67%;
    margin: auto;
  }
  header {
    position: sticky;
    top: 0;
    background: white;
    z-index: 10;
  }
  nav {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    height: 50px;
    color: gray;
    align-items: center;
    background: white;
  }
  nav ul:last-child {
    border-left: 1px solid lightgray;
    padding-left: 20px;
  }
  
  #message {
    background: #ffdd33;
    padding: 5px 10px;
  }
  .highlight {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 99%;
    margin: auto;
    margin: 3px auto;
    color: red;
  }
  .left_highlight {
    position: relative;
    height: 450px;
    background: linear-gradient(to top, black, transparent),
      linear-gradient(160deg, red, transparent),
      url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/05/TNW-Livestream-2019-hed-796x431.jpg)
        no-repeat center;
    background-size: cover;
    opacity: 0.9;
  }
  .left_end {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 35vw;
  }
  
  .figcap {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
  }
  .right_end {
    position: absolute;
    right: 20px;
    top: 20px;
    color: white;
  }


.bottom_end {
    position: absolute;
    bottom: 40px;
    left: 10px;
    color: white;
    font-size: 60px;
    line-height: 50px;
    font-weight: bold;
  }
  .right_bottom_end {
    position: absolute;
    bottom: 20px;
    left: 10px;
    color: white;
  }
  
  .right_bottom_end h5 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .right_highlight {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content: space-between;
    margin-left: 5px;
  }
  .right_top {
    position: relative;
    background: linear-gradient(to top, black, transparent),
      linear-gradient(160deg, white, transparent),
      url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/05/TNW-Livestream-2019-hed-796x431.jpg)
        no-repeat center;
    height: 220px;
    margin-bottom: 5px;
    box-sizing: border-box;
  }
  
  .right_bottom {
    position: relative;
    background: linear-gradient(to top, black, transparent),
      linear-gradient(160deg, white, transparent),
      url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/05/TNW-Livestream-2019-hed-796x431.jpg)
        no-repeat center;
    height: 220px;
    box-sizing: border-box;
  }
  
  .latest {
    width: 100%;
    margin: 100px auto;
  }
  .latest_img {
    max-width: 300px;
    width: 100%;
  }
  
  .latest h3 {
    color: #ff4422;
    font-weight: bold;
  }
  .latest_items {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    justify-content: space-between;
  }
  
  .latest_item {
    margin: 20px 0;
  }
  
  .funding {
    position: relative;
    width: 100%;
    margin: 20px auto 0 auto;
    padding: 10px 0;
    box-sizing: border-box;
  }