.mobile-navbar {
    width: 100%;
    background: white;
    display: block;
    position: fixed;
    height: 48px;
    top: 0;
    -webkit-box-shadow: 0px 0px 50px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 50px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 50px -15px rgba(0,0,0,0.75);
}
.nav-logo {
    width: 66px;
    height: 48px;
    display: inline-block;
}
.nav-logo a {
    background: linear-gradient(to bottom right,#c09,#f42 85%);
    display: block;
    height: 16px;
    padding: 16px 20px;
    width: 66px;
}
.nav-logo a img {
    width: 66px;
}

.main{
    color: white;
}
.nav-icons {
    display: block;
    float: right;
    margin: 0;
    list-style-type: none;
}
.nav-icons li {
    width: 48px;
    height: 48px;
    border-left: rgb(233, 233, 233) 1px solid;
    display: inline-block;
}
.nav-mob-toggle {
    position: relative;
}
.nav-mob-toggle span {
    -webkit-transition: .4s;
    transition: .4s;
    background-color: #f42;
    display: block;
    height: 2px;
    left: 14px;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 20px;
}
.nav-mob-toggle span:first-child {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
}
.nav-mob-toggle span:last-child {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
}